body{
  margin:0;
  font-family:Arial, Helvetica, sans-serif;
  background:linear-gradient(135deg,#6366f1,#06b6d4);
}

.auth-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.auth-card{
  background:white;
  padding:40px;
  width:350px;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
  text-align:center;
}

.auth-card input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border-radius:8px;
  border:1px solid #ccc;
}

.main-btn{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#4f46e5;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.main-btn:hover{
  background:#4338ca;
}

.switch-text{
  margin-top:20px;
}

.switch-btn{
  border:none;
  background:none;
  color:#4f46e5;
  font-weight:bold;
  cursor:pointer;
}